.flash-error {
  color: rgb(200, 20, 20);
  font-size: 18px;
  font-weight: bold;
  margin-top: 1em;
  text-align: center;
}

.flash-notice {
  color: rgb(120, 200, 140);
  font-size: 18px;
  margin-top: 1em;
  text-align: center;
}

.flash-success {
  color: rgb(60, 200, 20);
  font-size: 18px;
  margin-top: 1em;
  text-align: center;
}
